<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html lang="en">
<head>
    <title>{{title}}</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/removePBar.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
</head>
<body class="pull-down3">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
          <a class="brand" href="./jinja.cgi"> _ Group 17 _</a>
          <div class="nav text-center"> 
            <form name="search" class="form-search" action="./search.py" method="POST" style="margin-bottom: 0;">
              <div class="input-append" style="margin-top: 7px;">
                <input value="{{query}}" class="search-query offset1" name="query" type="text" >
                <span class="add-on" style="margin-bottom: 0;"><a href="#popup" role="button" data-toggle="modal"><i class="icon-camera"></i></a></span>
                <button type="submit" class="btn btn-primary"><i class="icon-search icon-white"></i></button>
              </div>
            </form>
          </div>
      </div>
    </div>
  </div>
  {% include 'imgSearchPop.html' %}