<div id="popup" class="modal hide fade" role="dialog">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>    
    <h3>Image search</h3>
  </div>
	<div class="modal-body">
	  <p>Search with an image instead of text.</p>
	  <form name="searchImg" class="form-search" action="./searchImg.py" method="POST">
	    <div class="input-append" style="width:80%">
	      <input name="imgURL" type="text" class="search-query" style="width:100%">
	      <button type="submit" class="btn btn-secondary">Search</button>
	    </div>
	  </form>
	</div>
	<div class="modal-footer">
	  <p>Upload image to search</p>
	</div>
</div>