<!DOCTYPE html>

<html lang="en">
<head>
    <title>{{title}}</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://github.com/downloads/markusslima/bootstrap-filestyle/bootstrap-filestyle-0.1.0.js"></script>
    <script src="../js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/prof_course_tables.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link href="../css/bootstrap.icon-large.min.css" rel="stylesheet">
</head>
<body class="pull-down5">
  <div class="container-fluid">
  	  	<div class="nice_bg row-fluid">
		    <div class="namecard_2">
		      <!--Sidebar content-->
		      	<img src={{prof[0][0][4]}} />
		      	<br />
				<b>Professor:</b> {{prof[0][0][1]}}
				<br /><br />
				<b>Web Profile:</b> <a href="{{prof[0][0][5]}}">{{prof[0][0][5]}}</a>
				<br /><br />
				<b>Home Page:</b> <a href="{{prof[0][0][6]}}">{{prof[0][0][6]}}</a>
				<br /><br />
				<b>Contact:</b> {{prof[0][0][6]}}
				<br /><br />
				<b>Education:</b> {{prof[0][0][7]}}
				<br /><br />
				<b>Others:</b> {{prof[0][0][8]}}
				<br /><br />
				Courses Taught:<br />
				<table cellspaceing="0">
	    

				<tr><th>Subject</th><th>Number</th><th>Section</th><th>Title</th></tr>
				{% for row in rows %}
				    <tr class="even">
				    <td>{{row[0]}}</td><td>{{row[1]}}</td><td>{{row[2]}}</td><td>{{row[3]}}</td>
				    </tr>
				{% endfor %}
				</table>
		    </div>
		    <div class="namecard_3">
		      <!--Body content-->
		      <h2>SEARCHES ON THIS PROFESSOR</h2>
		      This is some stuff on the body..<br />
		      This is some stuff on the body..<br />
		      This is some stuff on the body..<br />
		      This is some stuff on the body..<br />
		      This is some stuff on the body..<br />
		      This is some stuff on the body..<br />
		      This is some stuff on the body..<br />
		      This is some stuff on the body..<br />
		    </div>
	  	</div>
  	
	
	
	

      
  </div>

</body>
</html>