<script>
$("#pBar").fadeOut(200);
</script>
  <div class="container-fluid">
      <div class="row">
        <div class="span4 alert {% if resultLen > 0 %} alert-info {% endif %}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {% if resultLen > 0 %}
              <strong>Done.</strong> We've retrieved {{resultLen}} results.
            {% else %}
              <strong>Oooops!</strong> We found 0 result for your query :(
            {% endif %}
        </div>
      </div>
      <div class="row">
        {% for result in results %}
          <blockquote>
            <p>{{result[1]}}</p>
            <small><a href="{{result[0]}}">{{result[0]}}</a></small>
          </blockquote>
        {% endfor %}
      </div>
  </div>