  <div class="container">
  	<h2>Professor Search Results</h2>
      <div class="row">
        {% for card in namecards %}
          
            <div class="namecard">
            	<div class="namecard_img">
					<img class="img-polaroid" src={{card[3]}} /><br />
				</div>
				<div class="namecard_info">
					<div class="namecard_name btn">
						{{card[1]}}<br />
					</div>
					Profile: <a href="{{card[5]}}">{{card[5]}}</a><br />
					Website: <a href="{{card[6]}}">{{card[6]}}</a><br />
					Contact: {{removeNonAscii(card[7]).replace(";","<br/>")}}
				</div>
				
				<div class="namecard_buttons">
					<a class="btn" href="#">View More</a>
				</div>
			</div>
        {% endfor %}
        <div class="clear"></div>
      </div>
  </div>
