  <div class="container">
      <div class="row">
        {% for card in namecards %}
          <blockquote>
            <div class="namecard">
            	<div class="namecard_img">
					<img src={{card[3]}} /><br />
				</div>
				<div class="namecard_info">
					name: {{card[1]}}<br />
					profile: <a href="{{card[5]}}">{{card[5]}}</a><br />
					website: <a href="{{card[6]}}">{{card[6]}}</a><br />
					contact: {{card[7].replace(";","<br/>")}}
				</div>
				
				<a class="btn" href="#">View More</a>
			</div>
          </blockquote>
        {% endfor %}
        <div class="clear"></div>
      </div>
  </div>