<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html lang="en">
<head>
    <title>{{title}}</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
</head>
<body>
  <div class="container-fluid">
      <div class="row-fluid navbar">
        <div class="navbar-inner">
          <a class="brand" href="#">_Group 17<a>
          <div class="nav text-center"> 
            <form name="search" class="well well-small form-search" action="./search.py" method="POST">
              <input name="query" value="{{query}}" type="text" class="input-medium search-query span6">
              <button type="submit" class="btn btn-primary">Search</button>
              <button type="submit" class="btn btn-secondary">Photo</button>
            </form>
          </div>
        </div>
      </div>
      <div class="row-flouid">
        <div class="text-center">
            <div class="hero-unit">
              <h1>Heading</h1>
                <p>Tagline</p>
                <p>
                <a class="btn btn-primary btn-large">
                Learn more
                </a>
              </p>
            </div>
            <p>{{resultLen}}</p>
            {% for result in results %}
              <li><a href="{{result}}">{{result}}</a></li>
            {% endfor %}
        </div>
      </div>
  </div>
</body>
</html>
