<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html lang="en">
<head>
    <title>{{title}}</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://github.com/downloads/markusslima/bootstrap-filestyle/bootstrap-filestyle-0.1.0.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
</head>
<body>
<div class="container-fluid push-down-5">
    <div class="row-fluid">
      <div class="page-header text-center">
        <h1>_Group 17</h1>
      </div>
    </div>
    <div class="row-fluid">
      <div class="text-center"> 
        <form name="search" class="well well-small form-search" action="./search.py" method="POST">
          <input name="query" value="hellow" type="text" class="input-medium search-query span6">
          <button type="submit" class="btn btn-primary">Search</button>
          <button type="submit" class="btn btn-secondary">Photo</button>
        </form>
      </div>
    </div>
</div>
</body>
</html>
