<!DOCTYPE html>

<html lang="en">
<head>
    <title>{{title}}</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://github.com/downloads/markusslima/bootstrap-filestyle/bootstrap-filestyle-0.1.0.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/jquery-1.4.3.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link href="../css/bootstrap.icon-large.min.css" rel="stylesheet">

    <script type="text/javascript">
      var fadeDuration=2000;
      var slideDuration=4000;
      var currentIndex=1;
      var nextIndex=1;
      $(document).ready(function()
      {
        $('ul.slideshow li img').corner();
        $('ul.slideshow li').css({opacity: 0.0});
        $("'ul.slideshow li:nth-child("+nextIndex+")'").addClass('show').animate({opacity: 1.0}, fadeDuration);
        var timer = setInterval('nextSlide()',slideDuration);
      })
      function nextSlide(){
          nextIndex =currentIndex+1;
          if(nextIndex > $('ul.slideshow li').length)
          {
            nextIndex =1;
          }
          $("'ul.slideshow li:nth-child("+nextIndex+")'").addClass('show').animate({opacity: 1.0}, fadeDuration);
          $("'ul.slideshow li:nth-child("+currentIndex+")'").animate({opacity: 0.0}, fadeDuration).removeClass('show');
          currentIndex = nextIndex;
      }
    </script>


    <style type="text/css">

    .slideshow{
    width:500px;
    list-style: none;
    position:relative;

    }
    ul.slideshow li {
    position:absolute;
    left:0px;
    top:0px;
    display:inline;

    }
    ul.slideshow li.show {
    z-index:500;  
    }
    </style>

</head>
<body class="pull-down5">
  <ul class="slideshow">
        <li> <img style="opacity: 1;" src="../img/image1.png" width="647" height="106" /> </li>
        <li> <img style="opacity: 0;" src="../img/image2.png" width="647" height="106" /> </li>
        <li> <img style="opacity: 0;" src="../img/image3.png" width="647" height="106" /> </li>
        <li> <img style="opacity: 0;" src="../img/image4.png" width="647" height="106" /> </li>
  </ul>


<div class="container push-down-5">
    <div class="row">
      <div class="page-header text-center">
        <h1> _Group 17</h1>
      </div>
    </div>
    <div class="row">
      <div class="text-center"> 
        <form name="search" class="well well-small form-search" action="./search.py" method="POST">
          <div class="input-append">
            <input name="query" value="{{query|default("Jian Pei")}}" type="text" class="search-query">
            <span class="add-on"><a href="#popup" role="button" data-toggle="modal"><i class="icon-camera"></i></a></span>
            <button type="submit" class="btn btn-primary"><i class="icon-search icon-white"></i></button>
          </div>
        </form>
      </div>
    </div>
      {% include 'imgSearchPop.html' %}
</div>
</body>
</html>
