<!DOCTYPE html>

<html lang="en">
<head>
    <title>{{title}}</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://github.com/downloads/markusslima/bootstrap-filestyle/bootstrap-filestyle-0.1.0.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/jquery.js"></script>
    <script src="../js/jquery.innerfade.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link href="../css/bootstrap.icon-large.min.css" rel="stylesheet">

    <script type="text/javascript">
     $(document).ready(
        function(){
          
          $('ul#portfolio').innerfade({
            speed: 1000,
            timeout: 5000,
            type: 'sequence',
            containerheight: '220px'
          });
          
          $('.fade').innerfade({
            speed: 1000,
            timeout: 6000,
            type: 'random_start',
            containerheight: '1.5em'
          });
        

      });
    </script>
    <style>
    ul{
      text-decoration: none;
      list-style-type: none;
    }
    .home_image_bot{
      text-align: center;
    }
    #portfolio li{
      padding-left: 100px;

    }
    </style>

</head>
<body class="pull-down5">
<div class="container text-center">
  <ul id="portfolio">         
          <li>
            <a href="#"><img src="../img/new/1.png" /></a>
          </li>
          <li>
            <a href="#"><img src="../img/new/2.png" /></a>
          </li>         
          <li>
            <a href="#"><img src="../img/new/3.png" /></a>
          </li>         
          <li>
            <a href="#"><img src="../img/new/4.png" /></a>
          </li>  
          <li>
            <a href="#"><img src="../img/new/5.png" /></a>
          </li>  
          <li>
            <a href="#"><img src="../img/new/6.png" /></a>
          </li>  
          <li>
            <a href="#"><img src="../img/new/7.png" /></a>
          </li>  
          <li>
            <a href="#"><img src="../img/new/8.png" /></a>
          </li>     
  </ul>
</div>

<div class="container push-down-5">
    <div class="row">
      <div class="page-header text-center">
        <h1> _ Group 17 _</h1>
        <h4>Professor and Geneal SFU Search Engine</h4>
      </div>
    </div>
    <div class="row">
      <div class="text-center"> 
        <form name="search" class="well-small form-search" action="./search.py" method="POST">
          <div class="input-append">
            <input name="query" value="{{query|default("Jian Pei")}}" type="text" class="search-query">
            <span class="add-on"><a href="#popup" role="button" data-toggle="modal"><i class="icon-camera"></i></a></span>
            <button type="submit" class="btn btn-primary"><i class="icon-search icon-white"></i></button>
          </div>
        </form>
      </div>
    </div>
      {% include 'imgSearchPop.html' %}
</div>
<div class="home_image_bot container">
  <img src="../img/image_bot.png" />
</div>
</body>
</html>
