.clear{

	clear:both;
}

body{
}

.navTopFloat{
	position:fixed;
	overflow: hidden;
	width: 100%;
}

.pull-down1{
	padding-top: 20px;
}
.pull-down2{
	padding-top: 40px;
}
.pull-down3{
	padding-top: 60px;
}
.pull-down5{
	padding-top: 100px;
}

.namecard{
	width: 300px;
	/*height: 478px;*/
	float: left;
	overflow: hidden;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-left: 10px; 
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;

	-webkit-box-shadow: 0 1px 11px rgba(78, 68, 60, 0.3);
	-moz-box-shadow: 0 1px 11px rgba(78, 68, 60, 0.3);
	box-shadow: 0 1px 11px rgba(78, 68, 60, 0.3);


}

.namecard_img{
	height: 130px;
	text-align: center;
	background: url('../img/rred_texture.jpg') repeat-x black;
	margin: 0 auto;
	padding-top: 10px;

}

.namecard_info{
	width: 250px;
	padding: 10px;

}

.namecard_buttons{
	padding-left: 10px;
}

.namecard h3{
	color: red;
}

.namecard .btn{
	padding: 0;
}

.namecard_name {
	width:279px;
	padding: 2px;
	position: relative;
	top: -21px;
}

.container-fluid{
	background: url(../img/wallpaper-124413.png) no-repeat white;
}